@import "compass";
@import "normalize";

html { height: 100%; }
body {
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 14px;
  line-height: 18px;
  color: #30404f;
  margin: 0; padding: 0;
  height:100%;
  overflow: hidden;
}

#container {
  position: absolute;
  display: block;
  height: 100%;
  overflow-y: auto;
}

.highlight  {
  width: 96%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  overflow: hidden;

  table {
    width: 100%;
    overflow-x: auto;
    display: block;
    table-layout: fixed;

    tbody {
      width: 100%;

      tr {
        width: 100%;

        td {
          -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.1);
          -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
          box-shadow:         inset 0 0 10px rgba(0,0,0,0.1);
          padding: 7px 10px;
          background: #fcfcfc;
        }

        .lines {
          width: 5%;
          text-align: right;
          // padding-right: 2px;
        }

        pre {
          width: 100%;

          code {
            width: 100%;
          }
        }
      }
    }

  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4484C2;

  &:hover {
    color: #48D848;
  }
}

b, strong {
  font-weight: normal;
}

p {
  margin: 15px 0 0px;
}
.annotation ul, .annotation ol {
  margin: 25px 0;
}
.annotation ul li, .annotation ol li {
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 10px;
  color: #112233;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0 15px 0;
}


$header-font-size: 1.4em;
h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: $header-font-size * 1.1;
}

h2 {
  font-size: $header-font-size * 1.0;
}

h3 {
  font-size: $header-font-size * 0.9;
}

h4 {
  font-size: $header-font-size * 0.8;
}

h5 {
  font-size: $header-font-size * 0.7;
}

h6 {
  font-size: $header-font-size * 0.6;
}

hr {
  border: 0;
  background: 1px #ddd;
  height: 1px;
  margin: 20px 0;
}

pre, tt, code {
  font-size: 12px; line-height: 16px;
  margin: 0; padding: 0;
}

pre {
  display: block;
  margin: 0;
  padding: 4px;

  code {
    border: 0;
    padding: 0;
    background: transparent;
    display: block;
    color: #000;
  }
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 0;
  padding: 1px 0 1px 1em;
}
  .sections blockquote p {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 12px; line-height: 16px;
    color: #999;
    margin: 10px 0 0;
    white-space: pre-wrap;
  }

ul.sections {
  list-style: none;
  padding: 0 0 5px 0;;
  margin:0;
}

/*
  Force border-box so that % widths fit the parent
  container without overlap because of margin/padding.

  More Info : http://www.quirksmode.org/css/box.html
*/
ul.sections > li > div {
  -moz-box-sizing: border-box;    /* firefox */
  -ms-box-sizing: border-box;     /* ie */
  -webkit-box-sizing: border-box; /* webkit */
  -khtml-box-sizing: border-box;  /* konqueror */
  box-sizing: border-box;         /* css3 */
}

#markdown-toc {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  font-size: 0.8em;
  margin: 0;
  background: white;
  -webkit-box-shadow: 0 0 25px #777;
  -moz-box-shadow: 0 0 25px #777;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;

  li {
    list-style: none;
  }

  a {
    color: #333;
    text-decoration: none;
    &:hover {
      font-weight: 900;
      color: darken(#333, 30%);
    }
  }

  a.large {
    display: none;
  }

  a.active {
    font-weight: 900;
    color: darken(#333, 30%);
  }

  a.small {
    font-size: 22px;
    font-weight: bold;
    color: #676767;
  }
}

@media only screen and (max-width: 320px) {
  #container {
    position: relative;
    width: 100%;
    left: 0;
  }

  #markdown-toc {
    position: relative;
    top: 0;
  }
}


/*---------------------- Low resolutions (> 320px) ---------------------*/
@media only screen and (min-width: 320px) {
  #container {
    width: 100%;
  }

  .pilwrap { display: none; }

  ul.sections > li > div {
    display: block;
    padding:5px 10px 0 10px;
  }

  ul.sections > li > div.annotation ul, ul.sections > li > div.annotation ol {
    padding-left: 30px;
  }

  ul.sections > li > div.content {
    overflow-x:auto;
    -webkit-box-shadow: inset 0 0 5px #e5e5ee;
    box-shadow: inset 0 0 5px #e5e5ee;
    border: 1px solid #dedede;
    margin:5px 10px 5px 10px;
    padding-bottom: 5px;
  }

  ul.sections > li > div.annotation pre {
    margin: 7px 0 7px;
    padding-left: 15px;
  }

  ul.sections > li > div.annotation p tt, .annotation code {
    background: #f8f8ff;
    border: 1px solid #dedede;
    font-size: 12px;
    padding: 0 0.2em;
  }
}

/*----------------------  (> 481px) ---------------------*/
@media only screen and (min-width: 481px) {
  #container {
    position: relative;
    width: 100%;
    left: 200px;
  }
  body {
    background-color: #F5F5FF;
    font-size: 15px;
    line-height: 21px;
  }
  pre, tt, code {
    line-height: 18px;
  }
  p, ul, ol {
    margin: 0 0 15px;
  }


  #markdown-toc {
    padding: 5px 10px;
    width: 150px;
  }
  #markdown-toc a.large {
    display: inline-block;
  }
  #markdown-toc a.small {
    display: none;
  }

  #background {
    position: absolute;
    top: 0; bottom: 0;
    width: 350px;
    background: #fff;
    border-right: 1px solid #e5e5ee;
    z-index: -1;
  }

  ul.sections > li > div.annotation ul, ul.sections > li > div.annotation ol {
    padding-left: 40px;
  }

  ul.sections > li {
    white-space: nowrap;
  }

  ul.sections > li > div {
    display: inline-block;
  }

  ul.sections > li > div.annotation {
    max-width: 350px;
    min-width: 350px;
    min-height: 5px;
    padding: 13px;
    overflow-x: hidden;
    white-space: normal;
    vertical-align: top;
    text-align: left;
  }
  ul.sections > li > div.annotation pre {
    margin: 15px 0 15px;
    padding-left: 15px;
  }

  ul.sections > li > div.content {
    padding: 13px;
    vertical-align: top;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .pilwrap {
    position: relative;
    display: inline;
  }

  .pilcrow {
    font: 12px Arial;
    text-decoration: none;
    color: #454545;
    position: absolute;
    top: 3px; left: -20px;
    padding: 1px 2px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
  }
    .for-h1 .pilcrow {
      top: 47px;
    }
    .for-h2 .pilcrow, .for-h3 .pilcrow, .for-h4 .pilcrow {
      top: 35px;
    }

  ul.sections > li > div.annotation:hover .pilcrow {
    opacity: 1;
  }

}

/*---------------------- (> 1025px) ---------------------*/
@media only screen and (min-width: 1025px) {

  body {
    font-size: 16px;
    line-height: 24px;
  }

  #container {
    left: 28%;
    width: 72%;
  }

  #markdown-toc {
    width: 24%;
  }

  #background {
    width: 525px;
  }

  ul.sections > li > div.annotation {
    max-width: 525px;
    min-width: 525px;
    padding: 10px 25px 1px 50px;
  }
  ul.sections > li > div.content {
    padding: 9px 15px 16px 25px;
  }
}

/*---------------------- Syntax Highlighting -----------------------------*/

.lines {
  td {
    background-color: #f0f0f0;
    padding-right: 10px;
  }
  span {
    padding: 0 5px 0 5px;
  }
}


/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #60a0b0; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.highlight .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #40a070 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287e } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #40a070 } /* Literal.Number.Float */
.highlight .mh { color: #40a070 } /* Literal.Number.Hex */
.highlight .mi { color: #40a070 } /* Literal.Number.Integer */
.highlight .mo { color: #40a070 } /* Literal.Number.Oct */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .il { color: #40a070 } /* Literal.Number.Integer.Long */
