<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="http://cdn.bootcss.com/jstree/3.2.1/themes/default/style.min.css" rel="stylesheet">
  </head>
  <body>
    <article id='container'>
      <%= @content %>
    </article>
  </body>
  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/jstree/3.2.1/jstree.min.js"></script>
  <script src="default.js"></script>
  <script>
    $(document).ready(function(){
      init();
    });
  </script>
  <div id="tree">
  </div>
</html>
